<section class="question-area relative">
	<div class="container">
		<div class="row extra">
			<span class="span2 offset2 top-info">
				<% if @question.answers.length > 0%>
					<img class="check-icon" src=<%= asset_path 'check_icon.png' %> />Beantwoord
				<% end %>
			</span>
			<i class="span2 top-info date"><%= @question.created_at.strftime('%H:%M %m/%d/%Y') %></i>
			<div class="clearfix"></div>
		</div>
		
		<%= render :partial => "shared/profile_image", :locals => { :offset => '1', :border => 'blue-border', :name => 'Kees V.'} %>
		
		<article class="span8 question-card">
			<header>
				<h1 class="title">
					<%= @question.title %>
				</h1>
			</header>
			<div class="question">
				<%= @question.question %>
			</div>
			<hr class="line">
			<span class="category">Categorie</span>
		</article>
		
		<div class="row extra">
			<span class="span1 offset2 left"><%= image_tag("favorite.png", :alt => "Favorite", :class => "favorite", :width => 20, :height => 20 ) %></span>
			<span class="span2 offset5 right sharing">Delen</span>
			<div class="clearfix"></div>
		</div>
		
		<div class="end">
			<span class="span2 offset2 left">
				<%= QuestionsHelper.pluralize(@question.answers.length, 'Reactie') %>
			</span>
			<span class="span2 offset5 right">Beoordeling</span>
			<div class="clearfix"></div>
		</div>
	</section>
</section>

<section class="comment-form">
	<div class="row relative container">
		<%= render :partial => "shared/profile_image", :locals => { :offset => '1', :border => 'blue-border', :name => 'Kees V.'} %>
		<%= render :partial => "forms/answer_form" %>
	</div>
</section>

<section class="comments">
	<div class="row container">
		<% @question.answers.each do |a| %>
			<% if a.author == 'Kees V' %>
				<%= render :partial => "shared/answer_template", :locals => { :answer => a, :classes => 'comment-poster'} %>
			<% else %>
				<%= render :partial => "shared/answer_template", :locals => { :answer => a, :classes => 'comment-answer'} %>
			<% end %>
		<% end %>

		<!-- <section class="relative comment">
			<div class="chosen-answer">
				<span class="amount">12</span>
				<%= image_tag("favorite.png", :alt => "Favorite", :class => "favorite", :width => 20, :height => 20 ) %>
			</div>
			<%= render :partial => "shared/profile_image", :locals => { :offset => '1', :border => 'blue-border', :name => 'Kees V.'} %>
			<article class="span6 comment-card">
				<div class="card">
					<p>Deze auto zou je kunnen laten ombouwen in Rotterdam bij het FabLab van de Hogeschool Rotterdam. Zij zijn erg bekwaam in alles wat te maken heeft met elektronica.</p>
				</div>
			</article>
			<span class="time">18:30<br>26-05-2013</span>
			<div class="clearfix"></div>
		</section>

		<section class="relative comment">
			<div class="chosen-answer">
				<span class="amount">10</span>
				<%= image_tag("favorite.png", :alt => "Favorite", :class => "favorite", :width => 20, :height => 20 ) %>
			</div>
			<%= render :partial => "shared/profile_image", :locals => { :offset => '1', :border => 'blue-border', :name => 'Kees V.'} %>
			<article class="span6 comment-card">
				<div class="card">
					<p>Deze auto zou je kunnen laten ombouwen in Rotterdam bij het FabLab van de Hogeschool Rotterdam. Zij zijn erg bekwaam in alles wat te maken heeft met elektronica.</p>
				</div>
			</article>
			<span class="span1 offset1 time">18:30 <br> 26-05-2013</span>
			<div class="clearfix"></div>
		</section> -->
	</div>
</section>