<%= form_for @question do |f| %>
	<%= render 'shared/error_messages' %>

	<%= f.fields_for :answers do |builder| %>
		<div class="row">
	  	<%= builder.text_area :answer, { :placeholder => "Antwoord...", :cols => 30, :rows => 10 } %>
	  </div>
	<% end %>

  <%= f.submit "Antwoord" %>
<% end %>